.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: calc(var(--bar-height) * 0.51);
    width: calc(var(--bar-height) * 0.51);
    color: var(--global-white);
    border-radius: 100%;

    transition: all ease-in-out 200ms;
}

.iconContainer {
    border-radius: 100%;
    height: 100%;
    width: 100%;
    z-index: 30;
}

.contentContainer {
    position: absolute;
    top: 30px;
}

.session {
    background-color: white;
    border-radius: 0.3rem;
    padding: 1rem 0;
    margin-top: 1.5rem;

    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);

    --text-color: #757575;
}

.noSession {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 270px;
    background-color: white;

    margin-top: 1.5rem;

    border-radius: 0.3rem;
    padding: 1rem 1rem;

    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);

    --text-color: var(--text-black);

    top: 5px;
    left: -95px;

    gap: 0.5rem;

    font-size: 13px;
}

.noSession a {
    font-weight: 700;
    color: var(--link-color);
    transition: all ease-in-out 150ms;
}

.pointer {
    position: absolute;
    right: 17.5px;
    top: 17px;

    border-top-left-radius: 3px;

    border-left: rgba(0, 0, 0, 0.2) solid 1px;
    border-top: rgba(0, 0, 0, 0.2) solid 1px;

    background-color: white;
    height: 15px;
    width: 15px;
    transform: rotateZ(45deg);
}

.container:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

    .noSession a:hover {
        color: #444444;
    }
}