#componentContainer {
    position: relative;
    
    height: calc(100% - 5rem);
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;
    transition: margin-top 650ms ease-in-out;
}

/* Mobile, Tablet and Smaller Desktop*/
@media (max-width: 1120px) {}