.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: fadeIn ease-in-out forwards 200ms 400ms;

    opacity: 0;

    transition: width ease-in-out 200ms,
        height ease-in-out 200ms;
}

.view {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    overflow: hidden;
    border-radius: 0.3rem;
}

.inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    position: relative;

    height: 100%;
}

.imgViewContainer {
    position: relative;

    width: 100%;
    height: 100%;
}

.imgView {
    height: 100%;
    pointer-events: none;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: auto;

    overflow: hidden;
}

.imgOptionContainer {
    position: relative;
    display: flex;
    height: 100%;
    overflow: hidden;
    border-radius: 0.3rem;
}

.optionShadow {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    transition: all ease-in-out 200ms;
}

.imgOption {
    height: 100%;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .imgOptionContainer {
        cursor: pointer;
    }

    .optionShadow:hover {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}