.menuContainer {
    position: fixed;

    width: 100vw;
    height: 100%;

    top: 0;
    left: 0;

    z-index: 2000;
}

.menuBackground {
    position: absolute;
    top: 0;

    width: 100vw;
    height: 100%;
}

.menu {
    position: absolute;

    height: 100vh;
    width: 350px;
    
    top: 0px;
    
    padding: 3rem 1rem;

    overflow: hidden;

    background-color: var(--global-white);
}

.bodyForward {
    position: absolute;

    background-color: var(--global-white);

    bottom: 0;

    height: 85%;
    width: 100%;

    padding: 2.6rem 1rem;
}

.menuHead {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 15%;
    padding-bottom: 10%;
}

.menuBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 85%;
    width: 100%;

    position: absolute;

    left: 0px;

    padding: 0 1rem;
}

.subTitle {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    width: 100%;

    padding-bottom: 1rem;

    border-bottom: #ababab solid 1px;
    gap: 0.3rem;
}

.subTitle a {
    font-weight: 700;
    color: var(--link-color);
    transition: all ease-in-out 150ms;
}

.menuItem {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding-bottom: 1rem;
    padding-top: 1rem;

    border-bottom: #ababab solid 1px;
    transition: all ease-in-out 200ms;
}

.backButton {
    color: #575757;
    font-size: 25px;
    padding-bottom: 0.5rem;
}

.forwardButton {
    color: #575757;
    font-size: 19px;
}

/* Mobile, Tablet and Smaller Desktop*/
@media (max-width: 420px) {
    .menu {
        width: 100vw;
    }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .menuItem:hover {
        cursor: pointer;
    }

    .subTitle a:hover {
        color: #444444;
    }

    .backButton:hover {
        color: var(--global-black);
        font-weight: 600;
    }

    .menuItem:hover {
        font-weight: 600;
    }

    .menuItem:hover .forwardButton {
        color: var(--global-black);
        font-weight: 600;
    }
}