.container {
    width: 100vw;
    height: 100vh;

    padding: 1rem;

    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2200;

    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
}

.background {
    width: 100vw;
    height: 100vh;

    position: absolute;
    left: 0;
    bottom: 0;
}

.modal {
    --border-radius: 0.4rem;
    position: relative;
    background-color: var(--global-white);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}