.container {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 250px;

    padding: 14px 4%;

    border-bottom: #ababab solid 1px;
}

.imageContainer {
    height: 100%;
    width: 198.2143px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.3rem;
}

.image {
    height: 100%;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 50%;
    height: 100%;

    padding: 0 0.5rem;

    gap: 0.5rem;
}

.inputsContainer {
    display: flex;
    flex-direction: row;
}

.priceContainer {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100%;

    padding-top: 5%;
}

/* Mobile and Tablet */
@media (max-width: 1074.5px) {}

/* Mobile */
@media (max-width: 550px) {
    .inputsContainer {
        flex-direction: column;
    }
}