.container {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 250px;

    padding: 14px 3%;

    border-bottom: #ababab solid 1px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100%;
}

.imageContainer {
    height: 100%;
    width: 198.2143px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.3rem;
}

.image {
    height: 100%;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: calc(100% - 198.2143px - 90px);
    height: 100%;

    padding: 0 1rem;
}

.productName {
    display: flex;
    width: calc(100% + 75px);
    height: 25px;
}

.productName a {
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    height: calc(100% - 40px);
}

.bodyTop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.bodyBottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.priceContainer {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100%;
    width: 90px;

    padding-top: 5%;
}

.priceContainer h2 {
    font-size: 21px;
}

.soldOut {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--sold-out-bg);

    border-radius: 30rem;
    font-weight: bold;
    --text-color: var(--text-white);

    font-size: 13px;
    padding: 0.1rem 0.6rem;
}

/* Mobile and Tablet */
@media (max-width: 1074.5px) {}

/* Mobile */
@media (max-width: 590px) {
    .inputsContainer {
        flex-direction: column;
    }

    .imageContainer {
        width: 140px;
    }

    .container {
        height: 200px;
    }

    .middle {
        width: calc(100% - 140px - 90px);
        padding: 0 0.5rem;
    }

    .priceContainer {
        justify-content: flex-end;
    }
}

/* Small Mobile */
@media (max-width: 475px) {
    .imageContainer {
        width: 130px;
    }

    .container {
        height: 185px;
    }

    .middle {
        width: calc(100% - 110px - 90px);
    }

    .priceContainer h2 {
        font-size: 19px;
    }
}