.container {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 250px;

    padding: 14px 4%;

    border-bottom: #ababab solid 1px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100%;
}

.imageContainer {
    height: 100%;
    width: 198.2143px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.3rem;
}

.image {
    height: 100%;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: calc(100% - 198.2143px - 90px);
    height: 100%;

    padding: 0 0.5rem;
}

.productName {
    display: flex;
    width: calc(100% + 75px);
    height: 25px;
}

.productName a {
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.inputsContainer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    padding-top: 15px;

    height: calc(100% - 40px);
}

.priceContainer {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100%;
    width: 90px;

    padding-top: 5%;
}

/* Mobile and Tablet */
@media (max-width: 1074.5px) {}

/* Mobile */
@media (max-width: 590px) {
    .inputsContainer {
        flex-direction: column;
    }

    .imageContainer {
        width: 140px;
    }

    .container {
        height: 200px;
    }

    .middle {
        width: calc(100% - 140px - 90px);
    }

    .priceContainer {
        justify-content: flex-end;
    }
}

/* Small Mobile */
@media (max-width: 475px) {
    .imageContainer {
        width: 110px;
    }

    .container {
        height: 170px;
    }

    .middle {
        width: calc(100% - 110px - 90px);
    }
}