.container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    max-width: 100%;
}

.button {
    border-radius: 0.3rem;
    height: 40px;
    width: 40px;
    border: none;
    opacity: 0.7;
    outline: 1px solid black;
    transition: opacity ease-in-out 200ms;
}

.buttonActive {
    opacity: 1;
    outline: 2px solid var(--primary);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .button:hover {
        opacity: 1;
    }
}