.container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;

    border: #f1f1f1 solid 1.5px;
    border-radius: 100%;

    transition: background-color 150ms ease-in-out;
}

.icon {
    color: #f1f1f1;
    transition: color 150ms ease-in-out;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .option:hover {
        background-color: #f1f1f1;
    }

    .option:hover .icon {
        color: #3b3a38;
    }
}