.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

    position: relative;
    outline: 1px #ffffff90 solid;
    width: 100%;
    min-height: 37px;
    border-radius: 0.2rem;

    transition: all ease-in-out 200ms;
}

.label {
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    top: 0;
    left: 1rem;
    position: absolute;

    transition: all ease-in-out 200ms;
}

.label p {
    background-color: var(--background-color);
    padding-left: 2px;
    padding-right: 2px;
    color: var(--text-color);

    transition: all ease-in-out 200ms;
}

.input {
    width: 100%;
    height: 100%;

    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-color);

    border-top: 1px #ffffff90 solid;

    transition: all ease-in-out 200ms;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 0.5rem;

    margin-top: 0.5rem;
    padding: 0.5rem 0.5rem;

    flex-wrap: wrap;
}

.tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: default;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 10rem;

    gap: 0.2rem;

    transition: all ease-in-out 200ms;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .container:hover {
        outline: 1px #ffffff solid;
    }

    .input:hover {
        border-top: 1px #ffffff solid;
    }
}