.container {
    width: 100%;
    min-height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: var(--admin-menu-width-close);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    --text-color: var(--text-white);
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sectionsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;

    gap: 3rem;

    padding-right: 5rem;
    padding-left: 5rem;
}

.section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
}

.one {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;
}

.two {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;
}

.sectionLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 0.8rem;

    height: 100%;
    width: 48%;
}

.sectionRight {
    display: flex;
    flex-direction: column;

    gap: 0.8rem;

    height: 100%;
    width: 48%;
}