.container {
    border: 1px #777777 solid;
    border-radius: 8px;

    overflow: hidden;

    width: 100%;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #303030;

    height: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.head p {
    font-weight: 500;
}

.headLeft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 2rem;

    --text-color: #e0e0e0;
}

.leftBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    gap: 0.2rem;
}

.headRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.rightBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    gap: 0.7rem;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 1rem;

    border-top: 1px solid #777777;
    padding: 1rem;
}

.productInfos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    gap: 1rem;
}

.productInfosLeft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 1rem;
}

.productInfosRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 1rem;
}

.shipToName {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: start;

    transition: color ease-in-out 150ms;
}

.shipToName p {
    transition: color ease-in-out 150ms;
}

.shipToNameActive {
    --text-color: var(--primary)
}

.shipToModalContainer {
    position: absolute;
    top: 1.2rem;
    cursor: default;
}

.shipToModal {
    margin-top: 1.2rem;
    background-color: var(--global-white);
    --text-color: var(--text-black);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.shipToModal p {
    white-space: nowrap;
}

.pointer {
    position: absolute;
    right: calc(50% - 11.5px);
    top: 11.5px;

    height: 15px;
    width: 15px;

    border-top-left-radius: 3px;

    background-color: var(--global-white);

    border-left: rgba(0, 0, 0, 0.2) solid 1px;
    border-top: rgba(0, 0, 0, 0.2) solid 1px;

    transform: rotateZ(45deg);
}

.containerMobile {
    border-top: 1px #777777 solid;
    border-bottom: 1px #777777 solid;

    overflow: hidden;

    width: 100%;
}

.headMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #303030;

    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}