.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;

    flex-wrap: wrap;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    outline: 2px solid white;
    border-radius: 0.5rem;

    height: 200px;
    width: 200px;

    font-weight: 600;
    font-size: 12.5px;

    color: white;
    transition: all ease-in-out 200ms;
}

.option p {
    transition: all ease-in-out 200ms;
}

.optionAll {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 60px;
}

.optionIcon {
    width: 100%;
    height: 100%;
}

.imageContainer {
    position: relative;
    height: 80%;
    width: 80%;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .option:hover {
        outline: 2px solid var(--primary);
        background-color: rgba(var(--primary-rgb), 0.2);
        color: var(--primary);
        --text-color: var(--primary);
    }
}