.container {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 130px;

    --text-color: var(--text-black);

    padding: 11px 0;

    border-bottom: #ababab solid 1px;
}

.imageContainer {
    position: relative;

    width: calc(108px * 0.8);
    height: 108px;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.3rem;
}

.right {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: calc(100% - (108px * 0.9));
    height: 100%;

    padding: 0 0.5rem;
}

.priceContainer {
    position: absolute;
    bottom: 0;
    right: 0.5rem;
}

.infos {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    bottom: 0;
    left: 0.5rem;

    font-size: 11px;
}