.container {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    --container-height: 250px;
    height: 250px;

    padding: 0px 3%;

    border-bottom: #ababab solid 1px;
}

.imageContainer {
    height: calc(var(--container-height) * 0.9);
    width: calc(var(--container-height) * 0.9 * 0.9);

    position: relative;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.3rem;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: calc(var(--container-height) * 0.9);
    width: calc(100% - (var(--container-height) * 0.9 * 0.9))
}

.rightLeft {
    height: 100%;
    width: calc(100% - 80px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 0 1rem;
}

.rightRight {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100%;
    width: 80px;

    padding-top: 30px;
}

.rightRight h2 {
    font-size: 21px;
}

.rightRight p {
    font-size: 13px;
    color: #c2c2c2;
}

.productName {
    display: flex;
    width: calc(100% + 70px);
    height: 25px;
}

.productName a {
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    height: calc(100% - 40px);
}

.bodyTop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.bodyBottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.soldOut {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--sold-out-bg);

    border-radius: 30rem;
    font-weight: bold;
    --text-color: var(--text-white);

    font-size: 13px;
    padding: 0.1rem 0.6rem;
}

.deleteButton {
    position: absolute;
    top: 0.5rem;
    right: 0.2rem;
    font-size: 22px;
    color: #ffffff;
    z-index: 10;
}

/* Mobile and Tablet */
@media (max-width: 1074.5px) {}

/* Mobile */
@media (max-width: 590px) {
    .container {
        --container-height: 200px;
        height: 200px;
    }

    .inputsContainer {
        flex-direction: column;
    }

    .rightRight {
        justify-content: flex-end;
    }

    .deleteButton {
        font-size: 18px;
    }
}

/* Small Mobile */
@media (max-width: 475px) {
    .container {
        --container-height: 170px;
        height: 170px;
    }

    .rightLeft {
        width: calc(100% - 64px);
    }

    .rightRight {
        width: 64px;
    }

    .rightRight h2 {
        font-size: 17px;
    }

    .rightRight p {
        font-size: 11px;
        color: #c2c2c2;
    }
}