.container {
  height: auto;
  width: 100%;
}

.main {
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-bottom: 2rem;
}

.banner {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  overflow: hidden;

  height: 380px;
  width: 100%;

  transition: all ease-in-out 200ms;
}

.infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 10px;
  background-color: var(--primary);
  gap: 2rem;
}

.infosItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  --text-color: #ffffff;

  gap: 0.5rem;
}

.body {
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
}

.categoryItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.5rem;
}

.categoryItemImg {
  position: relative;
  height: 100%;
  width: 100%;

  pointer-events: none;
  transition: all ease-in-out 200ms;
  z-index: -1;
}

.categoryShadow {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.4;
}

.itemTitle {
  position: absolute;
  color: #ffffff;
  font-weight: 600;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
}

.carouselAndTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 100%;

  padding-top: 1rem;

  gap: 1rem;
  --text-color: var(--text-white);
}

.categoriesTitle {
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
}

.carouselTitle {
  height: 36px;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .categoryItem:hover .categoryItemImg {
    scale: 1.1;
  }

  .categoryItem:hover {
    cursor: pointer;
  }
}

@media (prefers-reduced-motion) {}


/* Tablet and Smaller Desktop */
@media (max-width: 1120px) {
  .banner {
    height: 270px;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .categoriesTitle {
    font-size: 17px;
    width: 100%;
    text-align: start;
    text-align-last: start;
  }

  .carouselTitle {
    font-size: 17px;
    height: 25.5px;
  }

  .banner {
    height: 205px;
  }

  .body {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

/* Small Mobile */
@media (max-width: 520px) {
  .banner {
    height: 145px;
  }
}

/* Really Small Mobile */
@media (max-width: 360px) {
  .banner {
    height: 135px;
  }
}

@media (prefers-color-scheme: dark) {}