.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    padding-top: 2rem;
    padding-bottom: 2rem;

    --text-color: var(--text-white);
}

.userContainer {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    width: 100%;

    padding-left: 5rem;
    padding-right: 5rem;

    gap: 2rem;
}

.welcomeTitle {
    font-size: 23px;
    text-align: start;
}

.fieldsHead {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    gap: 0.3rem;
}

.fieldsBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    gap: 3rem;
    width: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 50%;

    gap: 1rem;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 1rem;

    width: 50%;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;

    gap: 1rem;
}

.saveButton {
    width: 100%;
}

.saveDisabled {
    color: rgba(255, 255, 255, 0.5) !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Mobile and Tablet */
@media (max-width: 1074.5px) {
    .right {
        width: 100%;
    }

    .left {
        width: 100%;
    }

    .fieldsBody {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        gap: 2rem;
    }

    .container {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

/* Mobile */
@media (max-width: 750px) {
    .userContainer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .welcomeTitle {
        font-size: 18px;
    }
}