.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    --text-color: var(--text-white);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.menuFilters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 300px;
    padding-left: 2rem;
    padding-right: 2rem;

    gap: 1.5rem;

    padding-top: 5rem;
}

.filterBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;

    gap: 0.5rem;
    padding-bottom: 1.5rem;

    border-bottom: #d2d2d2 solid 1px;
}

.priceFilterInputs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    height: 30px;
}

.priceFilterInputs input {
    width: 55px;
    height: 100%;
    border-radius: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.priceFilterInputs button {
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.3rem;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    flex-wrap: wrap;
    overflow: hidden;

    padding-left: 12px;
}

.productsHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-right: 18px;
    padding-left: 6px;

    width: 100%;
    height: 5rem;
}

.productsBody {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    column-gap: 16px;

    width: 100%;

    flex-wrap: wrap;

    padding-bottom: 1rem;
}

.colorsContainer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    max-width: 100%;
}

.pageButton {
    color: var(--text-white) !important;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .pageButton:hover {
        background-color: rgba(255, 255, 255, 0.1) !important;
    }
}