.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    --text-color: var(--text-white);
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.menuFilters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 300px;
    padding-left: 2rem;
    padding-right: 2rem;

    gap: 1.5rem;

    padding-top: 5rem;
}

.filterBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;

    gap: 0.5rem;
    padding-bottom: 1.5rem;

    border-bottom: #d2d2d2 solid 1px;
}

.priceFilterInputs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    flex-wrap: wrap;
    overflow: hidden;
}

.productsHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-right: 18px;
    padding-left: 18px;

    width: 100%;
    height: 5rem;
}

.productsBody {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    column-gap: 16px;

    width: 100%;

    flex-wrap: wrap;

    padding-left: 8px;
    padding-bottom: 1rem;
}

.colorsContainer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    max-width: 100%;
}

.pageButton {
    color: var(--text-white) !important;
}

.animationContainer {
    width: 600px;
    margin-top: -20px;
    transition: width ease-in-out 200ms;
}

.optionActive {
    font-weight: 600;
    color: var(--primary)
}

.minMaxPrefix {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 0.3rem;
    height: 35px;
}

.minMaxInputs {
    border: none;
    outline: none;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    width: 55px;
    height: 100%;
    border-radius: 0.2rem;
}

.minMaxInputs::-webkit-outer-spin-button,
.minMaxInputs::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.minMaxButton {
    border: none;
    outline: none;
    height: 35px;
    min-width: 35px;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.3rem;

    transition: scale 100ms ease-in;
}

.minMaxButton:active {
    scale: 0.92;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .pageButton:hover {
        background-color: rgba(255, 255, 255, 0.1) !important;
    }
}

/* Mobile */
@media (max-width: 630px) {
    .animationContainer {
        width: 93%;
        margin-top: 0px;
    }
}