.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    --text-color: var(--text-white)
}

.main {
    width: 100%;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.mainSuccess {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 73vh;
}

.mainHead {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    height: 18vh;
}

.mainBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    min-height: 55vh;
}

.innerMainBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;

    width: 100%;
    max-width: 600px;
}

/* Mobile */
@media (max-width: 600px) {
    .title {
        font-size: 26px;
    }
}