@font-face {
  font-family: 'montserrat';
  src: url('/_next/static/fonts/montserrat.ttf') format('truetype');
}

:root {
  --primary: #00acb7;
  --primaryRGB: 0, 172, 183;
  --primary-dark: #02868e;
  --navbar-color: #00acb7;
  --text-black: #0a0a0a;
  --text-white: #f3f3f3;
  --text-color: var(--text-black);

  --global-white: #f3f3f3;

  --background-color: #222222;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: dark;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background: var(--background-color);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: underline transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  transition: text-decoration ease-in-out 200ms;
}

.noUnderline {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: 'montserrat';
  text-align: center;
  color: var(--text-color);
  line-height: 1.5;
}

div {
  font-family: 'montserrat';
  text-align: center;
  --toastify-text-color-dark: var(--global-white);
}

button {
  font-family: 'montserrat';
  text-align: center;
  cursor: pointer;
  color: var(--text-color);
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

textarea,
input,
label,
div,
span {
  font-family: 'montserrat';
  color: var(--text-color);
}

input::placeholder {
  font-family: 'montserrat';
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-start {
  text-align: start;
}

.fillWidth {
  width: 100%;
}

.fillHeight {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5rem;
}

body::-webkit-scrollbar-track {
  background-color: rgb(43, 43, 43);
}

::-webkit-scrollbar-thumb {
  background-color: #9a9a9a;
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bebebe;
}

/* Utilizado para estilizar o Autocomplete do Material UI */
.MuiAutocomplete-option {
  text-align: start;
}

.MuiAutocomplete-option,
.MuiMenuItem-gutters {
  color: var(--text-black);
  transition: all ease-in-out 200ms;
}

.MuiAutocomplete-option:hover,
.MuiMenuItem-gutters:hover {
  background-color: rgba(var(--primaryRGB), 0.3) !important;
  color: var(--text-black);
}

.MuiAutocomplete-option[aria-selected="true"],
.MuiMenuItem-gutters[aria-selected="true"] {
  background-color: rgba(var(--primaryRGB), 0.6) !important;
  color: var(--text-black);
}

.noSelection {
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a:hover {
    text-decoration: underline var(--text-color);
    cursor: pointer;
  }

  .noUnderline:hover {
    text-decoration: none;
  }
}