.container {
  height: auto;
  width: 100%;
}

.main {
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2rem;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 450px;

  overflow: hidden;
}

.infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 50px;
  background-color: var(--primary);
  gap: 2rem;
}

.infosItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  --text-color: #ffffff;

  gap: 0.5rem;
}

.carouselAndTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 100%;

  padding-top: 1rem;

  gap: 1rem;
}

.carouselTitle {
  margin-left: 6%;
  --text-color: var(--text-white)
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}