.container {
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    padding: 4rem 5%;
    gap: 1.5rem;

    height: 100%;
    width: 100%;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: #f5f5f5;
    height: 600px;
    width: 65.45%;
    max-width: 720px;
    max-height: 900px;

    border-radius: 0.2rem;
    overflow: hidden;
}

.loginHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    width: 100%;
    height: 15%;

    border-bottom: #d2d2d2 solid 1px
}

.loginBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 0.8rem;

    width: 100%;
    height: 85%;
    padding: 1.5rem 25%;
}

.loginButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 0.8rem;
}

.providerLogin {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    background-color: #ffffff;
    border: none;

    font-weight: bold;

    border-radius: 0.5rem;

    font-size: 100%;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    transition: all ease-in-out 200ms;
}

.joinContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 0 1rem;

    background-color: #ffffff;
    height: 600px;
    width: 34.55%;
    max-width: 380px;
    max-height: 900px;

    border-radius: 0.2rem;
    overflow: hidden;
}

.joinHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: 15%;

    border-bottom: #d2d2d2 solid 1px;
}

.joinHead p {
    font-size: 14px;
    padding-left: 0.1rem;
}

.joinBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 85%;

    padding-top: 0.8rem;

    gap: 0.5rem;
}

.joinBody ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 1rem;
}

.joinBody li {
    text-align: start;
    font-size: 14px;
}

.loginButtons {
    border-top: #d2d2d2 solid 1px;
    width: 100%;
    margin-top: 1rem;
    padding-top: 1rem;
}

.linkCreateAccount {
    color: #1185ed;
    font-weight: bold;
    font-size: 14px;

    text-decoration: underline transparent;

    transition: all ease-in-out 200ms;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .providerLogin:hover {
        background-color: #f9f9f9;

        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
            0px 4px 5px 0px rgba(0, 0, 0, 0.14),
            0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }

    .providerLogin:active {
        box-shadow: 0px 2px 1px -6px rgba(0, 0, 0, 0.2),
            0px 2px 2px 0px rgba(0, 0, 0, 0.14),
            0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }

    .linkCreateAccount:hover {
        text-decoration: underline #1185ed;
    }
}