.container {
    display: flex;
    flex-direction: column;

    height: auto;
    width: 100%;

    gap: 1.5rem;

    --text-color: var(--text-white);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;

    gap: 1rem;
    transition: padding ease-in-out 200ms;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 0.4rem;
    padding-left: 0.3rem;
}

.ordersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    gap: 1.5rem;
}

/* Mobile and Tablet */
@media (max-width: 1074.5px) {
    .container {
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* Mobile */
@media (max-width: 800px) {
    .container {
        padding-top: 2rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}