.container {
    width: 100%;
    padding-top: 1rem;
    padding-right: 2rem;
    --text-color: var(--global-white);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    gap: 0.5rem;
}

.options {
    width: 700px;
}