.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100%;

    padding-top: 3rem;
    padding-bottom: 3rem;

    --text-color: var(--text-white)
}

.productContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    padding-right: 10%;
    padding-left: 10%;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;

    border-bottom: solid 1px #616161;
}

.one {
    align-items: center;

    width: 100%;
    height: 100%;

    padding-bottom: 5rem;
}

.two,
.three,
.four,
.five {
    align-items: flex-start;

    width: 100%;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.sectionTitle {
    font-size: 20px;
    width: 280px;
}

.sectionBody {
    width: calc(100% - 280px);
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 60%;
    height: 100%;
}

.sliderContainer {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all ease-in-out 200ms;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 40%;
    height: 100%;

    gap: 0.5rem;

    z-index: 1;
}

/* Mobile and Tablet */
@media (max-width: 1074.5px) {
    .container {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .section {
        flex-direction: column;
    }

    .one {
        padding-bottom: 2rem;
    }

    .two,
    .three,
    .four,
    .five {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .sectionBody {
        width: 100%;
    }

    .sliderContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 450px;
        height: 450px;
    }

    .right {
        padding-top: 1.5rem;
        width: 100%;
        max-width: 400px;
    }
}

/* Mobile */
@media (max-width: 550px) {
    .sliderContainer {
        width: 350px;
        height: 350px;
    }

    .right {
        max-width: 300px;
    }
}