.container {
    display: flex;
    max-width: 100%;
}

.inner {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 1rem;
    width: auto;
}

/* Mobile and Tablet */
@media (max-width: 1074.5px) {
    .inner {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* Mobile */
@media (max-width: 750px) {
    .inner {
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }
}